<section class="color">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-4">
        <div class="location text-white text-center">
          <h3>LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="links text-white text-center">
          <h3>AROUND THE WEB</h3>
          <div class="icons">
            <a href="" ><i class="fa-brands fa-facebook iconEffect"></i></a>
            <a href="" ><i class="fa-brands fa-twitter  iconEffect"></i></a>
            <a href="" ><i class="fa-brands fa-linkedin iconEffect"></i></a>
            <a href="" ><i class="fa-brands fa-instagram  iconEffect"></i></a>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="freelancer text-white text-center">
          <h3>ABOUT FREELANCER</h3>
          <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
      </div>
    </div>
  </div>
  <div class="caption text-center py-2">
    <p class="text-white">Copyright © Your Website 2021</p>
  </div>
</section>
