
<section class="about about-color d-flex justify-content-center align-items-center">
  <div class="container ">
    <div class="row ">
      <div class="col-md-12  d-flex justify-content-center align-items-center pt-xl-5">
        <div class="inner text-center ">
          <h2 class="fs-1 fw-bolder text-white">ABOUT COMPONENT</h2>
          <div class="icon position-relative">
            <i class="fa-solid fa-star fs-3 text-white star-effect text-center"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <p class="text-white par-width">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <p class="text-white par-width">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
    </div>
  </div>
</section>
