
<!-- <nav class="p-4 navbar navbar-expand navbar-light shadow-lg fixed-top">
  <div class="container">
    <a class="navbar-brand fs-3 fw-bolder text-white" routerLink="">Start Framework</a>
    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
      <li class="nav-item px-3">
        <a class="nav-link fs-5 fw-bold text-white" routerLinkActive="active" routerLink = "about">About</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link fs-5 fw-bold text-white" routerLinkActive="active" routerLink = "portfolio">PortFolio</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link fs-5 fw-bold text-white" routerLinkActive="active" routerLink = "contact">Contact</a>
      </li>

    </ul>

  </div>
</nav> -->
<nav class="p-4 navbar navbar-expand-lg navbar-light shadow-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand fs-3 fw-bolder text-white"routerLink="">Start Framework</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fs-5 fw-bold text-white" routerLinkActive="active" routerLink = "about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 fw-bold text-white" routerLinkActive="active" routerLink = "portfolio">PortFolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 fw-bold text-white" routerLinkActive="active" routerLink = "contact">Contact</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

