


<section class=" home home-color pt-4">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center py-5 h-100">
      <div class="col-md-6  d-flex justify-content-center align-items-center">
        <div class="inner text-center ">
          <img src="./assets/avataaars.svg" class="w-50 my-5" alt="">
          <h2 class="fs-1  fw-bolder text-white">START FRAMEWORK</h2>
          <div class="icon position-relative">
            <i class="fa-solid fa-star fs-3 text-white star-effect"></i>
          </div>
          <p class="text-white">Graphic Artist - Web Designer - Illustrator</p>
        </div>
      </div>
    </div>
  </div>
</section>
